@charset "UTF-8";



/******************************************************************************/
/* mangler
  * sytling
  * html indehold
  * html indehold styling
  * css mobile version værdigøres mangler **mockup**
  * nav -> ancour Js -> film i js til hvordan.

  * noget bagrunds fave til body?

/*  /* /* /*   */
  /*          add video player in i sæted for cover billeder, få video fra simon / trine


    * fixe layout for 768 pix størelse af skærm "tablets" ser mindre dumt ud.
/*
  * kalender til højre side? bruge sammen ide som med nav så man kan få den
    poppet ind fra siden?

/******************************************************************************/



/*** general styling ***/


*{
 margin: 0;
 padding: 0;
}

body{
  display: flex;
  justify-content: center;
  background-image:url("Billeder/Pelle_background.png");
  background-size: cover;
  background-attachment: fixed;


  }



/* Text general styling */



/* IDEA: kanvære at vi skal indelel ind til mobile og desktop styling */


h2{ font-size: 2em;
  font-family: aileron,sans-serif;
  font-weight: 700;
  font-style: normal;

  } /* headline styling */


p{font-size: 1em;
  padding: 1em;

  font-family: aileron,sans-serif;
  font-weight: 400;
  font-style: normal;} /*  paragraft styling*/


.min_Musik_Title{
padding:32px;}

.rapferat_title, .freestyle_title, .koncerter_title, .omPelle_title{
  padding-bottom: 1em;
}


.BackgroundImg{
  position: absolute;
  width: 100vw;
  z-index: -15;


}

.omPelleImg, .koncerterImg, .freestyleImg, .rapferatImg{
  border: 0.5em solid #000000;
}

/******************************************************************************/
/** Grid area asigment **/

/* coverBillede*/





.coverBillede{grid-area: CB_G;}
.CoverMain_video{grid-area: CM_V;}
.CoverHead{grid-area: C_H;}
.coverMusik__tj{grid-area: CM_Tj;}
.coverPlader{grid-area: C_P;}

/* min musik */
.minMusik{grid-area:MM_G;}
.minMusikHeadline{grid-area:MM_H;}
.minMusikBillede{grid-area:MM_B;}
.minMusikText{grid-area:MM_T;}
/* rapferat */
.rapferat{grid-area: RF_G;}
.rapferatHeadline{grid-area: RF_H;}
.rapferatBillede{grid-area: RF_B;}
.rapferatText{grid-area: RF_T;}

/* freestyle */
.freestyle{grid-area:FS_G;}
.freestyleHeadline{grid-area:FS_H;}
.freestyleBillede{grid-area:FS_B;}
.freestyleText{grid-area:FS_T;}

/* koncerter */
.koncerter{grid-area:KC_G;}
.koncerterHeadline{grid-area: KC_H;}
.koncerterBillede{grid-area:KC_B;}
.koncerterText{grid-area:KC_T;}

/* omPelle */
.omPelle{grid-area: OP_G;}
.omPelleHeadline{grid-area:OP_H;}
.omPelleBillede{grid-area:OP_B;}
.omPelleText{grid-area:OP_T;}

/* Book pelle */
.bookPelle{grid-area:BP_G;}
.bookPelleHeadline{grid-area:BP_H;}
.bookPelleBillede{grid-area:BP_B;}
.bookPelleText{grid-area:BP_T;}

/******************************************************************************/
/* Nav_bar styling*/
#Nav_bar{
  position: fixed;
  width: 200px;
  height: 100%;
  background: #151719;
  left: -200px;
  transition: all 500ms linear;  }

#Nav_bar.active{
   left:0px;
 }

#Nav_bar ul li{
  color: rgba(230,230,230,0.9);
  list-style: none;
  list-style-type: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100,100,100,0.3);
  font-size: 2em;
  }

#Nav_bar ul li a {
  text-decoration: none;
  color: white;
}

#Nav_bar .toggle-btn{
  position: absolute;
  left: 230px;
  top: 20px;
  }

#Nav_bar .toggle-btn span{
 display: block;
 width: 30px;
 height: 5px;
 background-color: #151719;
 margin: 5px 0px;}

.spanColor{background-color: #151719; }

#Nav_bar ul li:hover{background-color: black;}

.spanColor2{
  background: white;
}



/******************************************************************************/
/** wrapper & sections **/

.wrapper{
  display: grid;
  grid-auto-rows: minmax(50px, auto);
  max-width: 100%;
  grid-template-areas:
  "CB_G CB_G CB_G CB_G"
  "RF_G RF_G RF_G RF_G"
  "FS_G FS_G FS_G FS_G"
  "KC_G KC_G KC_G KC_G"
  "OP_G OP_G OP_G OP_G"
  "BP_G BP_G BP_G BP_G";
}

/* ændring så det få til hvordan vi vil have mobil version til at være */

.coverBillede{

  display: grid;
  grid-template-areas:
  "CM_V   CM_V  CM_V    CM_V"
  "C_H    C_H   C_H     C_H"
  "CM_Tj  CM_Tj  CM_Tj  CM_Tj"
  "C_P    C_P    C_P    C_P";
}

.CoverHead{
  display: flex;
  justify-content: center;
}


.CoverMain_video{
  margin-top: 32px
  display: flex;
  justify-content: center;

}


.coverMusik__tj{
  display: flex;
  justify-self: center;
  align-items: center;
  width: 70%;
}

.coverMusik__tj a {
margin: 0 1em 0 1em;
}

.coverPlader{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;

}

.coverPlader img {
  padding: 1em 0 0.5em 0;
}


.MusikimgTj{
  width:65%;

}


.minMusik{
  display: grid;
  grid-template-areas:
  "MM_H"
  "MM_B"
  "MM_T";
}

.rapferat{
  display: grid;
  grid-template-areas:
  "RF_H"
  "RF_B"
  "RF_T";
}

.rapferatHeadline, .rapferatText, .koncerterHeadline, .freestyleHeadline, .freestyleText, .koncerterText, .omPelleText, .omPelle_title   {
  text-align: center;}

.rapferatBillede, .freestyleBillede, .koncerterBillede, .omPelleBillede{
  display: flex;
  justify-content: center;
}

.freestyle{
  display: grid;
  grid-template-areas:
  "FS_H"
  "FS_B"
  "FS_T";
}

.koncerter{
  display: grid;
  grid-template-areas:
  "KC_H"
  "KC_B"
  "KC_T";
}

.omPelle{
  display: grid;
  grid-template-areas:
  "OP_H"
  "OP_B"
  "OP_T";
}

.bookPelle{
  display: grid;
  grid-template-areas:
  "BP_H"
  "BP_B"
  "BP_T";
}


/* billeder styling */

.coverBilledeImg{width: 100%}

.bookPelleText{
  text-align: center;
}


/* desktop verison*/

@media only screen and (min-width: 426px) {


/* desktop text styling*/
h2{font-size: 3em;
  font-weight: bold;} /* headline styling */


p{font-size: 1.83em;
  padding: 0.3em;
  color: black} /*  paragraft styling*/


  .rapferatBillede, .freestyleBillede, .koncerterBillede, .omPelleBillede{
    display: block;}

/* desktop wrapper */

.wrapper{
    display: grid;
    max-width: 100%;

    grid-template-areas:
    "CB_G CB_G CB_G CB_G CB_G CB_G CB_G CB_G CB_G CB_G CB_G CB_G"
    "RF_G RF_G RF_G RF_G RF_G RF_G RF_G RF_G RF_G RF_G RF_G RF_G"
    "FS_G FS_G FS_G FS_G FS_G FS_G FS_G FS_G FS_G FS_G FS_G FS_G"
    "KC_G KC_G KC_G KC_G KC_G KC_G KC_G KC_G KC_G KC_G KC_G KC_G"
    "OP_G OP_G OP_G OP_G OP_G OP_G OP_G OP_G OP_G OP_G OP_G OP_G"
    "BP_G BP_G BP_G BP_G BP_G BP_G BP_G BP_G BP_G BP_G BP_G BP_G";
  }

/* angiver alle grid areas længde */
.minMusik, .rapferat, .freestyle, .koncerter, .omPelle, .bookPelle{

  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(100px, auto);
  }

.rapferatImg, .freestyleImg, .koncerterImg, .omPelleImg {
  width: 100%
}

.coverBillede{
  grid-template-columns: repeat(6, 1fr);
}





.coverBillede{
  display: grid;
  grid-template-areas:
  ". CM_V   CM_V  CM_V    CM_V  ."
  ". C_H    C_H   C_H     C_H   ."
  ". CM_Tj  CM_Tj  CM_Tj  CM_Tj ."
  ". C_P    C_P    C_P    C_P   .";
}

.CoverHead{
  display: flex;
  justify-content: center;
}

.CoverMain_video{
  margin-top: 32px;
  display: flex;
  justify-content: center;

}


.coverMusik__tj{
  display: flex;
  justify-self: center;
  align-items: center;
  width: 30%;
}

.coverMusik__tj a {
margin: 0 0.5em 0 0.5em;
}

.coverPlader{
  justify-content: center;
}


/* --------------------------------------------------- */



.minMusik{
  grid-template-areas:
  ". MM_H MM_H MM_H MM_H ."
  ". MM_T MM_T MM_T MM_T ."
  ". MM_B MM_B MM_B MM_B .";
 }
.minMusikImg{
  width: 33.3%
}


.rapferat{
  grid-template-areas:
  ". RF_H RF_H RF_H RF_H ."
  ". RF_T RF_T RF_B RF_B .";
  }
.rapferatHeadline {
  text-align: center;
  padding-top: 3.5em;
}

.freestyle{
  grid-template-areas:
  ". FS_H FS_H FS_H FS_H ."
  ". FS_B FS_B FS_T FS_T .";
}
.freestyleHeadline{
    text-align: center;
    padding-top: 3.5em;
}


.koncerter{
  grid-template-areas:
  ". KC_H KC_H KC_H KC_H ."
  ".  KC_T KC_T KC_B KC_B.";
}
.koncerterHeadline{
  text-align: center;
  padding-top: 3.5em;
}


.omPelle{
  grid-template-areas:
  ". OP_H OP_H OP_H OP_H ."
  ". OP_B OP_B OP_T OP_T .";
}
.omPelleHeadline{
  text-align: center;
  padding-top: 3.5em;
}


.bookPelle{
  grid-template-areas:
  ". BP_H BP_H BP_H BP_H ."
  ". BP_T BP_T BP_T BP_T .";
}



.freestyleText, .omPelleText, .omPelleText {
    margin-left: 1.5em;
}

.rapferatText, .koncerterText, .freestyleText, .omPelleText, .omPelleText {
    margin-left: 1.5em;
    text-align: justify;
}


.rapferat, .freestyle, .koncerter, .omPelle{
  grid-column-gap: 32px;
}





}/* media end tobog */
